<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name="com.iotgroup2.matterapp.MatterApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MatterApp"
        tools:targetApi="33">
        <activity
            android:name="com.iotgroup2.matterapp.Pages.Integrations.EditIntegration.SelectDeviceToAdd.SelectDeviceToAdd"
            android:exported="false"
            android:label="Select Device"
            android:parentActivityName="com.iotgroup2.matterapp.Pages.Integrations.EditIntegration.SelectDeviceToAdd.SelectDeviceToAdd"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.iotgroup2.matterapp.Pages.Integrations.EditIntegration.EditIntegrationActuator.EditIntegrationActuatorActivity"
            android:exported="false"
            android:label="Edit Integration Actuator"
            android:parentActivityName="com.iotgroup2.matterapp.Pages.Integrations.EditIntegration.EditIntegrationActuator.EditIntegrationActuatorActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.iotgroup2.matterapp.Pages.Integrations.EditIntegration.EditIntegrationSensor.EditIntegrationSensorActivity"
            android:exported="false"
            android:label="Edit Integration Sensor"
            android:parentActivityName="com.iotgroup2.matterapp.Pages.Integrations.EditIntegration.EditIntegrationSensor.EditIntegrationSensorActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.iotgroup2.matterapp.Pages.Integrations.EditIntegration.EditIntegrationActivity"
            android:exported="false"
            android:label="Edit Integration"
            android:parentActivityName="com.iotgroup2.matterapp.Pages.Integrations.EditIntegration.EditIntegrationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.iotgroup2.matterapp.Pages.Units.UnitsActivity"
            android:exported="false"
            android:label="Units"
            android:parentActivityName="com.iotgroup2.matterapp.Pages.Units.UnitsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.iotgroup2.matterapp.Pages.Home.Device.EditDevice.EditDeviceActivity"
            android:exported="false"
            android:label="Edit Device"
            android:parentActivityName="com.iotgroup2.matterapp.Pages.Home.Device.EditDevice.EditDeviceActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.iotgroup2.matterapp.Pages.Home.Device.DeviceActivity"
            android:exported="false"
            android:label="Device"
            android:parentActivityName="com.iotgroup2.matterapp.Pages.Home.Device.DeviceActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.iotgroup2.matterapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.home.matter.ACTION_COMMISSION_DEVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.iotgroup2.matterapp.Services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.iotgroup2.matterapp.shared.matter.commissioning.AppCommissioningService"
            android:exported="true" />
        <service
            android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>

            <meta-data
                android:name="connectedhome:-1:preferred"
                android:value="" />
        </service>
    </application>

</manifest>